<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>presentation</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="half">
            <h2>Nuestra Historia</h2>
            <p>En FestivaNow, nuestra historia es un viaje emocionante de innovación y pasión por la creación de experiencias inolvidables. Desde nuestros humildes comienzos, hemos crecido hasta convertirnos en una destacada casa de desarrollo de software especializada en soluciones para la industria de la organización de eventos.</p>
        </div>
        <div class="half">
            <h2>Mision y Vision</h2>
            <p>En FestivaNow, nuestra misión y visión están intrínsecamente entrelazadas y reflejan nuestro 
                compromiso con la transformación de la industria de la organización de eventos: 
                <br><br>Misión: Transformar la forma en que se planifican y disfrutan los eventos. Creemos que la tecnología puede hacer que la organización de eventos sea más eficiente, accesible y emocionante para todos.
                
                <br><br>Visión: Ser líderes en la industria de la tecnología de eventos, proporcionando soluciones innovadoras que conecten a organizadores, asistentes y proveedores de servicios en una plataforma única.</p>
        </div>
    </div>
</body>
</html>
