
body {
    height: 100%;
    margin: 0;
    padding-top: 4%;
    padding-bottom: 5%;
    /* Fondo degradado en tonos de naranja */
    background: linear-gradient(to right, #ff6633, #ff7433, #ff8833, #ff8533, #ffa940);
        
}
a{
    color: #ff5c33;
    margin-bottom: 5%;
    margin-left: 5%;
}
.row{
    border-radius: 20px;
}

.btn-primary{
    background-color:#ff5c33;
    border-radius: 5px;
    margin-bottom: 2.5%;
    margin-top: 2%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 20px;
    
}

.container.login-container {
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.login-form {
	max-width: 100%;
	border-radius: 10px;
}
.links{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 5%;
    margin-left: 5%;
}
.container img{
    width: 100%;
    height: 100%;
	align-items: center;
	display: flex;
}

.col-izq{
	flex: 2;
    width: 50%;
    padding: 3%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #ffffff;
}
.col-der {
    flex: 2;
    width: 50%;
}
.form-control{
    border-color: #ff5c33;
    color: #ff5c33;
}
h2{
    color: #ff5c33;
    padding: 5%;
}
label{
    color: #ff5c33;
    margin-bottom: 5%;
}


.col-izq form {
	display: flex;
	flex-direction: column;
    padding: 5%;
}

.col-izq img {
	width: 60%;
	height: 15%;
    margin-left: 20%;
    padding-bottom: 10%;
    margin-bottom: 1.8%;
}

.col-der img {
	width: 100%;
    border-end-end-radius: 15px;
    border-top-right-radius: 15px;
}

.switch{
	display: flex;
	align-items: center;
	justify-content: center;
}

  
  
  
  