<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<div class="main">
    <!--h2>IDENTITY</h2-->
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit" (click)="showEditPassword = !showEditPassword"></i>
            <table>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>:</td>
                        <td>{{ username }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{ user_email }}</td>
                    </tr>
                    <tr>
                        <td>Ubicación</td>
                        <td>:</td>
                        <td>Bogotá, Colombia</td>
                    </tr>
                    <tr>
                        <td>Rol</td>
                        <td>:</td>
                        <!--TODO: Cuando haya rol (Cliente, Admin, etc.) en el payload del token, ponerlo en vez de 'Cliente'.-->
                        <td>{{ user_role }}</td>
                    </tr>
                    <tr *ngIf="showEditPassword">
                        <td>Nueva contraseña</td>
                        <td>:</td>
                        <td><input type="text" id="newPassword" class="form-control" name="newPassword" [(ngModel)]="newPassword"></td>
                        <td><button (click)="submitNewPassword()">Submit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>