<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<section>
    <div class="container mt-5 mb-5">
        <div class="text-center">
        <h1>Eventos</h1>
        </div>
        <div class="carousel-container">
            <button mat-icon-button (click)="scrollLeft()"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <div #stripeContainer class="stripe-container">
                <div class="image-container" *ngFor="let image of images">
                    <img [src]="image.src" [alt]="image.alt">
                    <p class="image-text">{{image.text}}</p>
                </div>
            </div>
            <button mat-icon-button (click)="scrollRight()"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
    </div>


</section>

<br><br>

<section>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3 sticky-top">
                <br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar Conciertos"
                        [(ngModel)]="searchTerm">
                    <div class="input-group-append">
                        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>toc</mat-icon></button>
                        <mat-menu #menu="matMenu">
                            <div class="menu-header">Filtrar por género</div>
                            <mat-checkbox color="warn" *ngFor="let genre of genres"
                                [(ngModel)]="genre.checked">{{genre.name}}</mat-checkbox>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="row justify-content-center">
                <div class="card" *ngFor="let card of filteredCards">
                    <br>
                    <img class="card-img-top" [src]="card.src" alt="Card image cap">
                    <h3><span class="badge bg-success">Disponible</span></h3>
                    <div class="card-body">
                        <div class="text-center">
                            <h2 class="card-title">{{card.title}}</h2>
                            <button mat-raised-button class="orange-button">Comprar Boletas</button>
                            <p></p>
                            <div class="date">
                                <div class="day">{{card.day}}</div>
                                <div class="month-year">
                                    <div class="month">{{card.month}}</div>
                                    <div class="year">{{card.year}}</div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>