.stripe-container {
    display: flex;
}
.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 1rem;

}
h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f3845e;
    font-size: 3em;
  }

input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(239, 90, 64, 0.3);
}
input[type="text"] {
    border: 2px solid #ef5a40;
}
input[type="text"]::placeholder {
    color: grey;
}



.stripe-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.19);
}


.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border-radius: 50%;
    background-color: black;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.image-stripe {
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stripe-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.stripe-container::-webkit-scrollbar {
    display: none;
}

.carousel-container {
    display: flex;
    align-items: center;
}

.carousel-container button {
    margin: 0 20px;
}

.mat-icon {
    color: #F58459;
}

/*Segunda Section*/

.card {
    margin: 20px;
    width: 18rem; position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.19);

}

.card-container {
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.card-img-top {
    height: 350px;
    object-fit: cover;
  }


  ::ng-deep .orange-button {
    background-color: #f05c44 !important;
    color: white !important;
}

.date {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #f89474;
}

.day {
    font-size: 65px;
}

.month-year {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.month {
    font-size: 20px;
}

.year {
    font-size: 20px;
}

.badge{
    position: absolute;
    top: 30px;
    left: 18px;
}
.card-title{
    color: grey
}
