<div class="container">
  <h2>Crear un Evento</h2>
  <form (submit)="crearEvento()">

    <div class="form-group">
      <label for="name">Nombre del Evento:</label>
      <input type="text" id="name" class="form-control" name="name" [(ngModel)]="nuevoEvento.name">
    </div>

    <div class="form-group">
      <label for="ability">Capacidad:</label>
      <input type="number" id="ability" class="form-control" name="ability" [(ngModel)]="nuevoEvento.ability">
    </div>

    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea id="description" class="form-control" name="description" [(ngModel)]="nuevoEvento.description"></textarea>
    </div>

    <div class="form-group">
      <label for="name">Estado del Evento:</label>
      <input type="text" id="name" class="form-control" name="name" [(ngModel)]="nuevoEvento.state">
    </div>

    <div class="form-group">
      <label for="tipoEvento">Tipo de Evento:</label>
      <select id="tipoEvento" class="form-control" name="tipoEvento" [(ngModel)]="nuevoEvento.type">
        <option value="Concierto">Concierto</option>
        <option value="Festival">Festival</option>
        <option value="Deportes">Deportes</option>
        <option value="Boda">Bodas</option>
      </select>
    </div>

    <div class="form-group">
      <label for="city">Ciudad:</label>
      <select id="city" class="form-control" name="city">
        <option value="Medellín">Medellín</option>
        <option value="Cali">Cali</option>
        <option value="Bogotá">Bogotá</option>
        <option value="Barranquilla">Barranquilla</option>
      </select>
    </div>

    <div class="form-group">
      <label for="imagenURL">URL de la Imagen:</label>
      <input type="text" id="imagenURL" class="form-control" name="imagenURL" [(ngModel)]="nuevoEvento.url" (blur)="validateImageURL()">
      <div>
        <small *ngIf="!isURLValid" class="text-danger">Por favor, ingresa una URL válida para una imagen (.jpg, .jpeg, .png, etc.).</small>
      </div>
    </div>

    <div class="form-group">
      <label for="ability">Direccion:</label>
      <input type="text" id="direction" class="form-control" name="dierction" [(ngModel)]="nuevoEvento.direction">
    </div>

    <div class="form-group">
      <label for="Visibilidado">Visibilidad:</label>
      <select id="Visibilidad" class="form-control" name="Visibilidad" [(ngModel)]="Validator">
        <option value="Privado">Privado</option>
        <option value="Publico">Publico</option>
      </select>
    </div>

    <div class="form-group">
      <app-calendar [(ngModel)]="nuevoEvento.date" [nuevoEvento]="nuevoEvento"></app-calendar>    
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Crear Evento</button>
    </div>
  </form>
</div>