<div class="container">
  <h1 class="titulo">Crear un Evento</h1>
  <form #form="ngForm" (submit)="crearEvento()">

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Nombre del Evento</mat-label>
      <input matInput id="name" name="name" [(ngModel)]="nuevoEvento.name" required>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Capacidad</mat-label>
      <input matInput type="number" id="ability" name="ability" [(ngModel)]="nuevoEvento.ability" required>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Estado del Evento</mat-label>
      <mat-select id="state" name="state" [(ngModel)]="nuevoEvento.state" required>
        <mat-option value="activo">Activo</mat-option>
        <mat-option value="inactivo">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>
    

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>URL de la Imagen</mat-label>
      <input matInput type="text" id="imagenURL" name="imagenURL" [formControl]="urlControl" required>
      <mat-error *ngIf="urlControl.invalid" class="my-error">
        <mat-icon>error_outline</mat-icon> {{getErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Direccion</mat-label>
      <input matInput type="text" id="direction" name="direction" [(ngModel)]="nuevoEvento.direction" required>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Tipo de Evento</mat-label>
      <mat-select id="tipoEvento" name="tipoEvento" [(ngModel)]="nuevoEvento.type" required>
        <mat-option value="Concierto">Concierto</mat-option>
        <mat-option value="Festival">Festival</mat-option>
        <mat-option value="Deportes">Deportes</mat-option>
        <mat-option value="Boda">Bodas</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Ciudad</mat-label>
      <mat-select id="city" name="city" required>
        <mat-option value="Medellín">Medellín</mat-option>
        <mat-option value="Cali">Cali</mat-option>
        <mat-option value="Bogotá">Bogotá</mat-option>
        <mat-option value="Barranquilla">Barranquilla</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Visibilidad</mat-label>
      <mat-select id="Visibilidad" name="Visibilidad" [(ngModel)]="Validator" required>
        <mat-option value="Privado">Privado</mat-option>
        <mat-option value="Publico">Publico</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Descripción</mat-label>
      <textarea matInput id="description" name="description" [(ngModel)]="nuevoEvento.description" required></textarea>
    </mat-form-field>

    <app-calendar [(ngModel)]="nuevoEvento.date" [nuevoEvento]="nuevoEvento"></app-calendar>
    <app-error-banner *ngIf="error" message={{error_message}}></app-error-banner>
    <div class="form-group">
      <button mat-raised-button class="orange-button" type="submit" [disabled]="form.invalid">Crear Evento</button>
    </div>
  </form>
</div>