<!--
  <div class="container">
    <h2>Eventos Administrativos</h2>
    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Nombre del Evento</th>
          <th>Tipo</th>
          <th>Capacidad</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023-09-20 14:00</td>
          <td>Concierto en Vivo</td>
          <td>Música</td>
          <td>1000</td>
          <td>Activo</td>
          <td>-->
            <!-- Agrega aquí tus botones de acciones (Ver Detalle, Editar, Cambiar Estado) -->
            <!--<button >Ver Detalle</button>
            <button >Editar</button> 
            <button >Cambiar Estado</button> 
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
-->

<div class="container">
  <h2>Eventos Administrativos</h2>
  <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Fecha y Hora</th>
        <th>Nombre del Evento</th>
        <th>Tipo</th>
        <th>Capacidad</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos">
        <td>{{evento.date}}</td>
        <td>{{evento.name}}</td>
        <td>{{evento.type}}</td>
        <td>{{evento.ability}}</td>
        <td>{{evento.state}}</td>
        <td>
          <!-- Agrega aquí tus botones de acciones (Ver Detalle, Editar, Cambiar Estado) -->
          <button (click)="verDetalle({evento})">Ver Detalle</button>
          <button (click)="editarEvento({evento})">Editar</button>
          <button (click)="eliminarEvento({evento})">Eliminar</button>
          <button (click)="cambiarEstado({evento})">Cambiar Estado</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
