.footer-container {
  background: linear-gradient(to right, #F15938, #FFB001);
  position: fixed; /* Cambiamos a posición fija para que el footer se mantenga en la parte inferior */
  bottom: 0; /* Fijamos el footer en la parte inferior */
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo img {
  width: 700px;
  height: 80px;
  margin-right: 20px;
}
