.footer-container {
  background: linear-gradient(to right, #F15938, #FFB001);
  height: 100px;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 100px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}
