<ng-container  *ngIf="!auth.isLoggedIn">
    <div  class="nolog">
        Para acceder a estas funcionalidades debes iniciar sesion....
    </div>
</ng-container>

<ng-container *ngIf="auth.isLoggedIn">
  <mat-divider></mat-divider>
    <br>
    <h1 matSubheader class="matSubheader">Menú</h1>
    <mat-divider></mat-divider>
    <br>
    <mat-nav-list>
        <!-- Visible para roles: Admin, Usuario -->
        <a *ngIf="userRoles.includes('admin') || userRoles.includes('usuario')" mat-list-item routerLinkActive="list-item-active" routerLink="/clientEvent">
            Mis Boletos
        </a>

        <!-- Visible para roles: Admin, Anfitrión -->
        <a *ngIf="userRoles.includes('admin') || userRoles.includes('anfitrion')" mat-list-item routerLinkActive="list-item-active" routerLink="/hostEvent">
            Mis Eventos
        </a>

        <!-- Visible para roles: Admin, Anfitrión -->
        <a *ngIf="userRoles.includes('admin') || userRoles.includes('anfitrion')" mat-list-item routerLinkActive="list-item-active" routerLink="/customize">
            Crear Evento
        </a>

        <!-- Visible para roles: Admin, Empleado -->
        <a *ngIf="userRoles.includes('admin') || userRoles.includes('empleado')" mat-list-item routerLinkActive="list-item-active" routerLink="/report">
            Bussines Intelligence (PowerBi)
        </a>

        <!-- Visible solo para Admin -->
        <a *ngIf="userRoles.includes('admin')" mat-list-item routerLinkActive="list-item-active" routerLink="/proveedores">
            Proveedores
        </a>

        <!-- Visible solo para Admin -->
        <a *ngIf="userRoles.includes('admin')" mat-list-item routerLinkActive="list-item-active" routerLink="/licencias">
            Licencias
        </a>
    </mat-nav-list>
</ng-container>
