<ng-container  *ngIf="!auth.isLoggedIn">
    <div  class="nolog">
        Para acceder a estas funcionalidades debes iniciar sesion....
    </div>
</ng-container>

<ng-container *ngIf="auth.isLoggedIn">
  <mat-divider></mat-divider>
    <br>
    <h1 matSubheader class="matSubheader">Menú</h1>
    <mat-divider></mat-divider>
    <br>
    <mat-nav-list>
        <!-- Visible para roles: Admin,  CLIENT -->
        <a *ngIf="userRoles.includes('ADMIN') || userRoles.includes('CLIENT')" mat-list-item routerLinkActive="list-item-active" routerLink="/clientEvent" class="texto-blanco">
            Mis Boletos
        </a>

        <!-- Visible para roles: Admin, Anfitrión -->
        <a *ngIf="userRoles.includes(' ADMIN') || userRoles.includes('HOST')" mat-list-item routerLinkActive="list-item-active" routerLink="/hostEvent" class="texto-blanco">
            Mis Eventos
        </a>

        <!-- Visible para roles:  ADMIN, Anfitrión -->
        <a *ngIf="userRoles.includes(' ADMIN') || userRoles.includes('HOST')" mat-list-item routerLinkActive="list-item-active" routerLink="/customize" class="texto-blanco">
            Crear Evento
        </a>

        <!-- Visible para roles:  ADMIN, EMPLOYEE -->
        <a *ngIf="userRoles.includes(' ADMIN') || userRoles.includes('EMPLOYEE')" mat-list-item routerLinkActive="list-item-active" routerLink="/report" class="texto-blanco">
            Bussines Intelligence (PowerBi)
        </a>

        <!-- Visible solo para  ADMIN -->
        <a *ngIf="userRoles.includes(' ADMIN')" mat-list-item routerLinkActive="list-item-active" routerLink="/proveedores" class="texto-blanco">
            Proveedores
        </a>

        <!-- Visible solo para  ADMIN -->
        <a *ngIf="userRoles.includes(' ADMIN')" mat-list-item routerLinkActive="list-item-active" routerLink="/licencias" class="texto-blanco">
            Licencias
        </a>
    </mat-nav-list>
</ng-container>
