<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>edit_user</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="mat-dialog-container">
        <div class="texto"><!-- edit-user.component.html -->
            <h2>Detalles del Usuario</h2>
            <h2>Nombre: {{ data.nombreUsuario }}</h2>
            <h2>Email: {{ data.rolUsuario }}</h2>
            <button class="botonclose" (click)="confirmarCambios()" [disabled]="!selectedOption">Confirmar cambios</button>            <br>
            <button  class="botonclose"  (click)="cerrarDialog()"> Cerrar </button>
            
        </div>  
        <div class="dropdown">
            <button (click)="toggleDropdown(selectedOption || options[0])">{{ selectedOption || 'Seleccionar opción' }}</button>
            <ul *ngIf="selectedOption" class="dropdown-options">
              <li *ngFor="let option of options" (click)="toggleDropdown(option)">
                {{ option }}
              </li>
            </ul>
        </div>
    </div>
</body>

</html>
