body{
    background-color: rgb(233, 219, 209);
}
/* Agrega bordes redondeados al contenedor del diálogo */
.mat-dialog-container {
    border-radius: 10px; /* Puedes ajustar el valor según tus preferencias */
    padding: 10%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto{
    padding-right: 10%;
}
.dropdown{
    padding-bottom: 170px;
    position: static;
    display: flex;
    width: 150px;
    height: 100px;
    border-radius: 40px;
}
.botonclose{
    width: 150px;
    margin-top: 10px;
    padding: 5px;
}
  /* Estilos para el botón que activa el dropdown */
button {
    background-color: #e5632f;
    width: 110%;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
  }
  
  /* Estilos para el contenedor del dropdown */
  .dropdown {
    display: inline-block;
  }
  
  
  /* Estilos para la lista desplegable */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #e0aa95;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 165px;
  }
  
  li {
    width: 150px;
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  /* Estilos para ocultar el dropdown por defecto */
  .dropdown[style*="display: none;"] {
    display: none;
  }
  