.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f3845e;
    font-size: 3em;
}

.text-center {
    text-align: center;
}

.custom-header {
    background-color: white;
}

.custom-form-field {
    width: 100%;
}

li{
    display: inline;
}

ul li {
    font-size: 14px;
    list-style: none; 
    font-weight: bold; 
    margin-bottom: 10px;
}

select {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

select option [selected] {
    font-size: 14px;
    background-color: #ddd;
}