.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mat-elevation-z8 {
  margin-top: 20px;
}

button {
  margin-right: 10px;
}
/* Estilos para las tablas con fondo negro */
table {
width: 100%;
border-collapse: collapse;
background-color: rgb(255, 255, 255); /* Fondo negro */
color: rgb(0, 0, 0); /* Texto en blanco */
}

/* Estilos para las celdas de encabezado */
th {
border: 1px solid  #e27d2a; /* Borde blanco */
padding: 8px;
text-align: left;
}
.acciones{
display: flex;
align-items: center;
justify-content: center;
}

/* Estilos para las celdas de datos */
td {
border: 1px solid  #e27d2a; /* Borde blanco */
padding: 8px;
text-align: left;
}

/* Estilos para las filas impares (opcional, para mayor claridad) */
tr:nth-child(odd) {
background-color: #ffffff; /* Fondo gris oscuro para filas impares */
}

/* Estilos para los botones de acciones */
button {
background-color: #eec7a8; /* Fondo transparente */
color: rgb(10, 10, 10); /* Texto en blanco */
border: none;
cursor: pointer;
padding: 4px 8px;
border-radius: 10px;
}
