<div class="container">
    <h2>Tus Eventos</h2>
    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Nombre del Evento</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023-09-22 19:00</td>
          <td>Noche de Comedia</td>
          <td>Teatro Municipal</td>
          <td>
            <!-- Agrega aquí tu botón de acción para ver detalles del boleto -->
            <button>Ver Boleto</button> <!--  (click)="verDetalleBoleto('Noche de Comedia')" -->
          </td>
        </tr>
        <!-- Agrega más filas de datos aquí según tu necesidad -->
      </tbody>
    </table>
  </div>
  