<div class="container">
  <h2>Lista de Boletos Generados</h2>
  <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>ID del Evento</th>
        <th>Nombre del Evento</th>
        <th>ID del Boleto</th>
        <th>Código del Boleto</th>
        <th>Precio del Boleto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ticket.idEvent}}</td>
        <td>{{ticket.eventName}}</td>
        <td>{{ticket.idTicket}}</td>
        <td>${{ticket.code}}</td>
        <td>{{ticket.price}}</td>
        <td>
          <button *ngIf="ticket.idEvent" (click)="verDetalleEvento(ticket.idEvent)">Ver Evento</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>