.container {
  max-width: 500px;
  padding-left: 200px;
  padding: 20px;
  background-color: #db722c;
  border-radius: 10px;
  margin: 30px;
  margin-left: 30%;
  margin-bottom: 150px;
}

form {
  display: flex;
  flex-direction: column;
}
.my-error {
  color: red !important;
}
::ng-deep .orange-button {
  background-color: #f05c44 !important;
  color: white !important;
}
::ng-deep .green-button {
  background-color: #38a44c !important;
  color: white !important;
}
.titulo{
  text-align: center; 
  color: white;
}