<div class="container">
  <h1 class="titulo">Editar un Evento</h1>
  <form #form="ngForm" (submit)="editarEvento()">
    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>URL de la Imagen</mat-label>
      <input matInput type="text" id="imagenURL" name="imagenURL" [(ngModel)]="actualizarEvento.url"
        (blur)="validateImageURL()" [disabled]="!isEditing">
      <mat-error *ngIf="!isURLValid">
        <mat-icon>error_outline</mat-icon> Por favor, ingresa una URL válida para una imagen (.jpg, .jpeg, .png, etc.).
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Nombre del Evento</mat-label>
      <input matInput type="text" id="name" name="name" [(ngModel)]="actualizarEvento.name" [disabled]="!isEditing">
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Capacidad</mat-label>
      <input matInput type="number" id="ability" name="ability" [(ngModel)]="actualizarEvento.ability"
        [disabled]="!isEditing">
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Tipo de Evento</mat-label>
      <mat-select id="tipoEvento" name="tipoEvento" [(ngModel)]="actualizarEvento.type" [disabled]="!isEditing">
        <mat-option value="Concierto">Concierto</mat-option>
        <mat-option value="Festival">Festival</mat-option>
        <mat-option value="Deportes">Deportes</mat-option>
        <mat-option value="Boda">Bodas</mat-option>
      </mat-select>
    </mat-form-field>

    <!--<mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Departamento</mat-label>
      <mat-select id="departamento" name="departamento" [disabled]="!isEditing">
        <mat-option value="Antioquia">Antioquia</mat-option>
        <mat-option value="Bogotá">Bogotá</mat-option>
        <mat-option value="Valle del Cauca">Valle del Cauca</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Municipio</mat-label>
      <mat-select id="municipio" name="municipio" [disabled]="!isEditing">
        <mat-option value="Medellín">Medellín</mat-option>
        <mat-option value="Cali">Cali</mat-option>
        <mat-option value="Bogotá">Bogotá</mat-option>
      </mat-select>
    </mat-form-field>-->

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Entretenimiento</mat-label>
      <mat-select id="entretenimiento" name="entretenimiento" [disabled]="!isEditing">
        <mat-option value="Música">Música</mat-option>
        <mat-option value="Deportes">Deportes</mat-option>
        <mat-option value="Cine">Cine</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Descripción</mat-label>
      <textarea matInput id="description" name="description" [(ngModel)]="actualizarEvento.description"
        [disabled]="!isEditing"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Direccion</mat-label>
      <input matInput type="text" id="direction" name="direction" [(ngModel)]="actualizarEvento.direction" [disabled]="!isEditing">
    </mat-form-field>

    <!--<mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Visibilidad</mat-label>
      <mat-select id="visibilidad" name="visibilidad" [(ngModel)]="actualizarEvento.visibility" [disabled]="!isEditing">
        <mat-option value="Privado">Privado</mat-option>
        <mat-option value="Publico">Publico</mat-option>
      </mat-select>
    </mat-form-field>-->

    <mat-form-field appearance="fill" [color]="colorControl.value!">
      <mat-label>Estado</mat-label>
      <mat-select id="state" name="state" [(ngModel)]="actualizarEvento.state" [disabled]="!isEditing">
        <mat-option value="Activo">Activo</mat-option>
        <mat-option value="Inactivo">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-group">
      <app-calendar [(ngModel)]="actualizarEvento.date"></app-calendar>
    </div>
    <app-error-banner *ngIf="error" message={{error_message}}></app-error-banner>
    <div class="button-container">
      <button mat-raised-button class="orange-button" type="button" (click)="editarEvento()">
        {{ isEditingMode ? 'Cancelar' : 'Editar Evento'}}
      </button>

      <button mat-raised-button class="green-button" *ngIf="isEditingModeActive" type="button"
        (click)="actualizaEvento()">
        Actualizar Evento
      </button>

      <button mat-raised-button class="orange-button" *ngIf="isEditingModeActive" type="button"
        (click)="eliminarEvento()">
        eliminar Evento
      </button>
    </div>
  </form>
</div>