<header class="header-container">
  <div class="logo">
    <button mat-button (click)="toggleSideBar()" class="custom-button">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/home']">
      <img src="assets/logo-festivanow.png" alt="Festiva Now">
    </a>
  </div>
  <div class="menu-enlaces">
    <button mat-button [routerLink]="['/presentation']">Quienes Somos</button>
    <button mat-button [routerLink]="['/general']">Eventos</button>
    <button mat-button [routerLink]="['/contact']">Contacto</button>
  </div>  
    <button mat-icon-button (click)="logout()" class="logout-button" *ngIf="isLoggedIn">
      <mat-icon>exit_to_app</mat-icon> 
    </button>
    <app-user-menu></app-user-menu>
  
</header>
