.header-container {
  background: linear-gradient(to right, #F15938, #FFB001);
  margin: none;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  display: flex;
position:sticky;
}


.menu-enlaces {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu-enlaces li {
  margin: 0;
  color: aliceblue;
}

.logo {
  margin-left: 30px;
}

.logo img {
  width: 100px;
  height: auto;
}


.menu-enlaces button {
  color: white; /* Cambia el color del texto a blanco */
}
.logout-button mat-icon{
  color: white;
}
.logo mat-icon{
  color: white;
}
.user{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
